html, body
{    
    overflow: hidden;
}

#pfp
{
    height: 3vw;
    width: 3vw;
}

#username
{
    margin-top: 15px;
    font-size: 1.5vw;
    color:white;
}

#search-bar
{
    margin: 10px;
}


.header-bar
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hamburger-menu
{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.hamburger-menu:hover
{
    box-shadow: 0px 0px 7px white;
}

.hamburger-menu:active
{
    box-shadow: 0px 0px 20px gray;
}

.hamburger-menu-line
{
    background-color: gray;
    margin: 5px;
    border-radius: 25px;
    width: 40px;
    height: 4px;
}

.user-info-box
{
    display: flex;
    align-items: center;
}

.compose-button
{
    display: flex;
    margin: 20px;

    justify-content: center;
    
}


.my-container
{
    height: 100vh;
}


.options-panel
{
    background-color: rgb(60, 60, 155);
    height: 100vh;
    
}

.options-list
{
    display: flex;
    background-color: rgb(60, 60, 155);
    flex-direction: column;
}

.option
{
    background-color: rgb(60, 78, 110);
    
    box-shadow: 4px 4px 6px rgb(13, 88, 145);
    color: rgb(180, 180, 180);
    margin: 20px;
    padding: 10px;
    text-align: center;
    font-size: medium;
    border-radius: 15px;
}

.option:hover
{
    padding: 13px;
    margin: 17px;
    box-shadow: 6px 6px 6px rgb(43, 108, 175);
    color:rgb(130, 168, 245);
}

.email-panel
{
    background-color: rgb(100, 100, 255);
    height: 100vh;
    
}

.email-list
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email-card
{
    background-color: rgb(183, 183, 183);
    
    box-shadow: 4px 4px 6px rgb(68, 70, 71);

    margin: 20px;
    padding: 10px;
    font-size: medium;
    border-radius: 10px; 

}

.email-selected
{
    box-shadow: 6px 6px 6px rgb(255, 255, 255);
    border: 2px white solid;
    padding: 10px;
}

.email-author
{
    font-size: large;
}

.email-date
{
    font-size: small;
    text-align: end;
}

.email-subject
{
    font-size: medium;
}

.to-and-from
{
    color: gray;
}

.email-preview-panel
{
    background-color: rgb(200, 200, 255);
    height: 100vh;
}

.email-preview
{
    margin: 30px;
}

.email-body
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.reply-button
{
    margin-top: 10px;
}